# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Android
*.iml
.idea/
local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab

# iOS
*.xcodeproj
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
Pods/
Podfile.lock

# Kotlin
*.kotlin_module

# Misc
/tmp
node_modules/
